html {
	--background-color: rgb(34, 36, 54);
	--text-color: rgb(193, 193, 193);
	--accent-color: rgb(118, 170, 243);
    --accent-text-color: rgb(31, 32, 34);
}
body {
	background: var(--background-color);
	color: var(--text-color);
}

header {
	border-bottom: 1px solid var(--accent-color);
    text-align: center;
}

article {
	margin: 10px auto;
    width: 90%;
    text-align: center;
}

article button {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    display: inline-block;
    margin: 5px;
    background-color: var(--background-color);
}

article button img {
    max-width: 250px;
    height: 250px;
}

article button audio {
    visibility: hidden;
    display: block;
    height: 0px;
}

article button h2 {
    color: var(--accent-color)
}

#viewSource {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    margin: 5px;
    background-color: var(--accent-color);
    border-radius: 4px;
}
a#viewSourceHyperlink {
    color: var(--accent-text-color);
    text-decoration: none;
}
span#Gemscounter {
    background: rgb(7, 59, 83);
    left: 5%; position: absolute;
}
span#buttonholder {
    right: 5%; position: absolute;
}
span#buttonholder div {
    background: rgb(14, 114, 97); 
    min-height: 70px; 
    min-width: 70px;
    margin: 10px;
    line-height: 70px;
    border-radius: 16px;
    border: 4px solid rgb(0, 0, 0);
}
progress {
    width: 300px;
}

span#fightbuttonholder {
    left: 5%; position: absolute;
}
span#fightbuttonholder div {
    background: rgb(170, 12, 12); 
    min-height: 70px; 
    min-width: 70px;
    margin: 10px;
    padding: 7px;
    line-height: 70px;
    border-radius: 92px;
    border: 4px solid rgb(0, 0, 0);
}
img#sillyboy {
height: 250px;
width: 250px;
}
img#Minion {
    height: 330px;
    width: 270px;
    }
    span#levelupHolder {
    display: block;
    text-align: center;
    }

    span#levelupHolder div {
        background: rgb(28, 3, 141); 
        height: 70px; 
        width: 110px;
        margin: 13px auto;
        padding: 7px;
        line-height: 70px;
        border-radius: 92px;
        border: 4px solid rgb(0, 0, 0);
    }
    span#levelupHolder div#UpgradeButton {
    border-radius: 8px;
    width: 190px;
}
